.footer-container .backGround {
    background-color: rgba(33, 35, 37, 1);
    display: flex;
    justify-content: space-around;
    border: 3px solid rgba(158, 119, 237, 1);
    border-radius: 22px;
    padding-top: 13px;
    position: fixed;
    bottom: 10%;
    font-size: 19px;
    z-index: 1111;
  }
  .footer-container .mobile_menu {
    display: none;
  }
  .footer-container .nav_model {
    bottom: 170px;
    background-color: rgba(33, 35, 37, 1);
    border: 3px solid rgba(158, 119, 237, 1);
    border-radius: 22px;
    padding-top: 13px;
    position: fixed;
    right: 30px;
    z-index: 11;
  }
  a {
    color: #0d6efd;
    text-decoration: none;
}




  @media (max-width: 991px) and (min-width: 320px) {
    .footer-container .backGround {
      left: 10px;
      right: 3px;
      width: 70%;
      left: 15%;
  }
    .footer-container .mobile_menu {
      display: block;
    }
    .footer-container .desktop_menu {
      display: none;
    }
  }
  
  