
.wrapBackGroud{
    height: 1105px;
    background: #171821;
}
.wrapOuter{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    align-items: center;
    padding: 35px;
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
}
.wrapHeading{
    color: white;
    font-size: x-large;
    font-weight: 500;

}
.wrapHeadingDiv{
    padding-bottom: 19px;
    width: 91%;
}

.wrapBtn{
    width: 406px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);

}
.wrapInput{
    padding-bottom: 37px;
}
.wrapIner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #212325;
    width: 95%;
    background: #212325;
    padding: 17px;
    border-radius: 10px;
}
.wrapBtnDvi {
    padding-top: 40px;
}
.wrapSpan1 {
    color: white;
    padding-left: 9px;
    padding-top: 2px;
}
.wrapPara1 {
    font-size: 28px;
    padding-top: 7px;
    color: gray;
    font-weight: 400;
}
.wrapPara3 {
    /* padding: 0px!important; */
    /* margin-top: 27px; */
    position: absolute;
    top: 52%;
}
.wrapMd {
    padding-left: 34px;
}
.wrapSpan2{
    color: gray;
}
.wrapSpan3{
    color: #9E77ED ;
}

.wrapBtnSwap2{
    border: 1px solid;
    background: rgba(33, 35, 37, 1);
    border: 1px solid  rgba(33, 35, 37, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.wrapBtnSwap1{
    border: 1px solid;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.wrapBtnSwapDiv {
    text-align: center;
    /* padding-top: 113px; */
    top: 21%;
    left: 35%;
    position: absolute;
}

/* @media (max-width: 1704px) {
    .wrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
   
    
    .wrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
    }
    .wrapBtnSwapDiv {
        display: flex;
        width: 38%;
        padding-top: 60px;
        left: 30%;
        position: relative;
    }
    
    
} ; */


@media (max-width: 765px) {
    .wrapPara3 {
        /* padding: 0px!important; */
        /* margin-top: 27px; */
        position: absolute;
        top: 52%;
        left: 47%;
    }
   
    
    .wrapBtnSwapDiv {
        display: flex;
        width: 56%;
        padding-top: 7px;
        left: 26%;
    }
    .wrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
    a {
        color: #0d6efd;
        width: 100%;
        text-decoration: none;
    }
    
    .wrapBtnSwap1 {
        border: 1px solid;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }
    .wrapBtnSwap2 {
        border: 1px solid;
        background: rgba(33, 35, 37, 1);
        border: 1px solid rgba(33, 35, 37, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }  
    .wrapOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 6%;
        width: 88%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
      
}

@media (max-width:1560px) {
    .WrapPara3 {
        /* padding: 0px!important; */
        /* margin-top: 27px; */
        position: absolute;
        top: 52%;
        left: 51%;
    }
    .wrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
    .wrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
    }
    .wrapBtnSwapDiv {
        text-align: center;
        /* padding-top: 113px; */
        top: 21%;
        width: 30%;
        display: flex;
        left: 35%;
        position: absolute;
    }
    .wrapBtnSwap2 {
        border: 1px solid;
        background: rgba(33, 35, 37, 1);
        border: 1px solid rgba(33, 35, 37, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }
    a {
        color: #0d6efd;
        text-decoration: none;
        width: 100%;
    }
    .wrapBtnSwap1 {
        border: 1px solid;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }    
    
}



/* @media (max-width: 1448px) {
    .wrapOuter {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 30%;
        left: 15%;
        width: 65%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
  
    .wrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
   
    
    .wrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
    }
    
    .wrapBtnSwapDiv {
        display: flex;
        width: 38%;
        padding-top: 49px;
        left: 15%;
        top: 14%;
        position: absolute;
    }
    
} */