
.energizebackGroud{
    height: 1103px;
    background: #171821;
}


.energizeOuter{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    align-items: center;
    padding: 35px;
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
}
.energizeHeading{
    color: white;
    font-size: x-large;
    font-weight: 500;
}
.energizeBtn{
    width: 406px;
    padding: 3px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);
}
.energizeForm {
    display: block;
    width: 401px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #fff7f7;
    background-color: rgba(54, 57, 63, 1);
    background-clip: padding-box;
    border: 1px solid rgba(54, 57, 63, 1);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.46rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.energizeHeadingDiv {
    padding-bottom: 19px;
    width: 85%;
}
.ebergizeInput{
    padding-bottom: 37px;
}

@media (max-width:1654px) {
    .energizeDiv1 {
        width: 100%;
    }
    .energizeBtn {
        width: 100%;
        padding: 3px;
        border-radius: 8px;
        background: linear-gradient( 
    90deg
     , #1570EF 0%, #9E77ED 100%);
    }
    .energizeOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        width: 100%;
        position: absolute;
        top: 29%;
        left: 32%;
        width: 34%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }

}
@media (max-width:958px) {
    .energizeForm {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5;
        color: #fff7f7;
        background-color: rgba(54, 57, 63, 1);
        background-clip: padding-box;
        border: 1px solid rgba(54, 57, 63, 1);
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0.46rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
} 
@media (max-width: 765px) {
    .energizeOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 11%;
        width: 78%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
    .energizeForm {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5;
        color: #fff7f7;
        background-color: rgba(54, 57, 63, 1);
        background-clip: padding-box;
        border: 1px solid rgba(54, 57, 63, 1);
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0.46rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

