
.stackBackGroud{
    height: 1120px;
    background: #171821;
}
.stackOuter{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    align-items: center;
    padding: 35px;
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
}
.stackHeading{
    color: white;
    font-size: x-large;
    font-weight: 500;

}
.stackHeadingDiv{
    padding-bottom: 19px;
    width: 88%;
}

.stackBtn{
    width: 406px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);

}
.stackInput{
    padding-bottom: 37px;
}
.stackIner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #212325;
    width: 94%;
    background: #212325;
    padding: 17px;
    border-radius: 10px;
}
.stackBtnDvi {
    padding-top: 40px;
}

.stackPara1 {
    font-size: 28px;
    padding-top: 15px;
    color: gray;
    font-weight: 400;
}
.stackPara3 {
    /* padding: 0px!important; */
    /* margin-top: 27px; */
    position: absolute;
    top: 39%;
}
.stackMd {
    padding-left: 34px;
}
.stackSpan2{
    color: gray;
}
.stackSpan3{
    color: #9E77ED ;
}

.stackBtnSwap2{
    border: 1px solid;
    background: rgba(33, 35, 37, 1);
    border: 1px solid  rgba(33, 35, 37, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.stackBtnSwap1{
    border: 1px solid;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.stackBtnSwapDiv {
    text-align: center;
    /* padding-top: 113px; */
    top: 21%;
    left: 35%;
    position: absolute;
}
.stackCompounding {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}
.stackTwobutton {
    position: absolute;
    left: 80%;
     top: 20%; 
}
.stackBtnSwap4{
    border: 1px solid;
    background: rgba(33, 35, 37, 1);
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
    color: white;
    padding: 5px;
    width: 200px;
}
.stackBtnSwap3{
    border: 1px solid;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
    color: white;
    padding: 5px;
    width: 200px;
}
.stackBtnSwap4div {
    padding-top: 25px;
}

@media (max-width:1560px){
    .stackTwobutton {
        position: absolute;
        left: 80%;
        top: 20%;
        display: none;
    }
    .stackOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 25%;
        width: 50%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
    .wrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient( 
    90deg
     , #1570EF 0%, #9E77ED 100%);
    }
    .stackBtnSwapDiv {
        text-align: center;
        /* padding-top: 113px; */
        top: 21%;
        width: 100%;
        left: 0%;
        position: absolute;
    }
    .stackBtnSwapDiv {
        text-align: center;
        /* padding-top: 113px; */
        top: 21%;
        display: flex;
        width: 52%;
        left: 24%;
        position: absolute;
    }
    .stackBtnSwap1 {
        border: 1px solid;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }
    .stackBtnSwap2 {
        border: 1px solid;
        background: rgba(33, 35, 37, 1);
        border: 1px solid rgba(33, 35, 37, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }
    .wrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient( 
    90deg
     , #1570EF 0%, #9E77ED 100%);
    }
}


@media (max-width: 765px) {
    

    .stackOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 4%;
        width: 90%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }

    .stackPara3 {
        /* padding: 0px!important; */
        /* margin-top: 27px; */
        position: absolute;
        top: 37%;
        left: 43%;
    }
    }
  
