
.unwrapBackGroud{
    height: 1105px;
    background: #171821;
}
.unwrapOuter{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    align-items: center;
    padding: 35px;
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
}
.unwrapHeading{
    color: white;
    font-size: x-large;
    font-weight: 500;

}
.unwrapHeadingDiv{
    padding-bottom: 19px;
    width: 91%;
}

.unwrapBtn{
    width: 406px;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);

}
.unwrapInput{
    padding-bottom: 37px;
}
.unwrapIner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #212325;
    width: 95%;
    background: #212325;
    padding: 17px;
    border-radius: 10px;
}
.unwrapBtnDvi {
    padding-top: 40px;
}
.unwrapSpan1 {
    color: white;
    padding-left: 9px;
    padding-top: 2px;
}
.unwrapPara1 {
    font-size: 28px;
    padding-top: 7px;
    color: gray;
    font-weight: 400;
}
.unwrapPara3 {
    /* padding: 0px!important; */
    /* margin-top: 27px; */
    position: absolute;
    top: 52%;
}
.unwrapMd {
    padding-left: 34px;
}
.unwrapSpan2{
    color: gray;
}
.unwrapSpan3{
    color: #9E77ED ;
}

.unwrapBtnSwap2{
    border: 1px solid;
    background: rgba(33, 35, 37, 1);
    border: 1px solid  rgba(33, 35, 37, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.unwrapBtnSwap1{
    border: 1px solid;
    background: linear-gradient(90deg, #1570EF 0%, #9E77ED 100%);
    border: 1px solid rgba(158, 119, 237, 1);
    border-radius: 7px;
    color: white;
    padding: 9px;
    width: 250px;
}
.unwrapBtnSwapDiv {
    text-align: center;
    /* padding-top: 113px; */
    top: 21%;
    left: 35%;
    position: absolute;
}

@media (max-width: 1704px) {
    .unwrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
   
    
    .unwrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
    }
    .unwrapBtnSwapDiv {
        display: flex;
        width: 38%;
        padding-top: 60px;
        left: 30%;
        position: relative;
    }
    
    
} ;


@media (max-width: 765px) {
    .unwrapPara3 {
        /* padding: 0px!important; */
        /* margin-top: 27px; */
        position: absolute;
        top: 52%;
        left: 64%;
    }
    .unwrapOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 16%;
        width: 66%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
    .unwrapBtnSwapDiv {
        display: flex;
        width: 38%;
        padding-top: 60px;
        left: 5%;
    }
    .unwrapOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        left: 21%;
        width: 51%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
    }
    .unwrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
    a {
        color: #0d6efd;
        width: 100%;
        text-decoration: none;
    }
    
    .unwrapBtnSwap1 {
        border: 1px solid;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }
    .unwrapBtnSwap2 {
        border: 1px solid;
        background: rgba(33, 35, 37, 1);
        border: 1px solid rgba(33, 35, 37, 1);
        border-radius: 7px;
        color: white;
        padding: 9px;
        width: 100%;
    }  
      
}



@media (max-width: 1448px) {
    .unwrapOuter {
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        position: absolute;
        top: 30%;
        align-items: center;
        padding: 35px;
        border: 1px solid rgba(158, 119, 237, 1);
        border-radius: 7px;
        left: 15%;
        width: 65%;
    }
  
    .unwrapBtnDvi {
        padding-top: 40px;
        width: 100%;
    }
   
    
    .unwrapBtn {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(
    90deg
    , #1570EF 0%, #9E77ED 100%);
    }
    
    .unwrapBtnSwapDiv {
        display: flex;
        width: 38%;
        /* padding-top: 49px; */
        left: 15%;
        top: 14%;
        position: absolute;
    }
    
}